matplotlib
numpy
streamlit
onnx
onnxruntime
opencv-contrib-python
opencv-python
opencv-python-headless
pillow
protobuf
scikit-learn
scipy
torch
torchvision
tornado
tqdm
wheel
widgetsnbextension

